datasources:
-  access: 'proxy'
   editable: true 
   is_default: true
   name: 'prometheus'
   org_id: 1 
   type: 'prometheus' 
   url: 'http://<%=node['x_grafana']['prometheus_url'] %>:9090'
   version: 1
